<a href="https://colab.research.google.com/github/maferrepy/BASEKNN/blob/main/KDD_Cup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modelagem(Cancelamento)

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier, GradientBoostingClassifier
from matplotlib import pyplot as plt
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV

In [2]:
#Dados

In [3]:
treino = pd.read_csv('/content/drive/MyDrive/Machine Learning para Competições Kaggle Curso 1.zip (Unzipped Files)/Machine Learning para Competições Kaggle Curso 1/kdd/orange_small_train.data',sep='\t')

In [4]:
outcome = pd.read_csv('/content/drive/MyDrive/Machine Learning para Competições Kaggle Curso 1.zip (Unzipped Files)/Machine Learning para Competições Kaggle Curso 1/kdd/orange_small_train_churn.labels',header=None)

In [5]:
treino.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230
0,NaN,NaN,NaN,NaN,NaN,1526.0,7.0,NaN,NaN,NaN,...,oslk,fXVEsaq,jySVZNlOJy,NaN,NaN,xb3V,RAYp,F2FyR07IdsN7I,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,525.0,0.0,NaN,NaN,NaN,...,oslk,2Kb5FSF,LM8l689qOp,NaN,NaN,fKCe,RAYp,F2FyR07IdsN7I,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,5236.0,7.0,NaN,NaN,NaN,...,Al6ZaUT,NKv4yOc,jySVZNlOJy,NaN,kG3k,Qu4f,02N6s8f,ib5G6X1eUxUn6,am7c,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,oslk,CE7uk3u,LM8l689qOp,NaN,NaN,FSa2,RAYp,F2FyR07IdsN7I,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,1029.0,7.0,NaN,NaN,NaN,...,oslk,1J2cvxe,LM8l689qOp,NaN,kG3k,FSa2,RAYp,F2FyR07IdsN7I,mj86,NaN

In [6]:
treino .shape

(50000, 230)

In [7]:
outcome.head()

   0
0 -1
1  1
2 -1
3 -1
4 -1

In [8]:
np.unique(outcome)

array([-1,  1])

In [11]:
all_vars = np.array(treino.columns)

In [12]:
all_vars

array(['Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8',
       'Var9', 'Var10', 'Var11', 'Var12', 'Var13', 'Var14', 'Var15',
       'Var16', 'Var17', 'Var18', 'Var19', 'Var20', 'Var21', 'Var22',
       'Var23', 'Var24', 'Var25', 'Var26', 'Var27', 'Var28', 'Var29',
       'Var30', 'Var31', 'Var32', 'Var33', 'Var34', 'Var35', 'Var36',
       'Var37', 'Var38', 'Var39', 'Var40', 'Var41', 'Var42', 'Var43',
       'Var44', 'Var45', 'Var46', 'Var47', 'Var48', 'Var49', 'Var50',
       'Var51', 'Var52', 'Var53', 'Var54', 'Var55', 'Var56', 'Var57',
       'Var58', 'Var59', 'Var60', 'Var61', 'Var62', 'Var63', 'Var64',
       'Var65', 'Var66', 'Var67', 'Var68', 'Var69', 'Var70', 'Var71',
       'Var72', 'Var73', 'Var74', 'Var75', 'Var76', 'Var77', 'Var78',
       'Var79', 'Var80', 'Var81', 'Var82', 'Var83', 'Var84', 'Var85',
       'Var86', 'Var87', 'Var88', 'Var89', 'Var90', 'Var91', 'Var92',
       'Var93', 'Var94', 'Var95', 'Var96', 'Var97', 'Var98', 'Var99',
       'Var100', 'Var101', 'Var102', 'Var103', 'Var104', 'Var105',
       'Var106', 'Var107', 'Var108', 'Var109', 'Var110', 'Var111',
       'Var112', 'Var113', 'Var114', 'Var115', 'Var116', 'Var117',
       'Var118', 'Var119', 'Var120', 'Var121', 'Var122', 'Var123',
       'Var124', 'Var125', 'Var126', 'Var127', 'Var128', 'Var129',
       'Var130', 'Var131', 'Var132', 'Var133', 'Var134', 'Var135',
       'Var136', 'Var137', 'Var138', 'Var139', 'Var140', 'Var141',
       'Var142', 'Var143', 'Var144', 'Var145', 'Var146', 'Var147',
       'Var148', 'Var149', 'Var150', 'Var151', 'Var152', 'Var153',
       'Var154', 'Var155', 'Var156', 'Var157', 'Var158', 'Var159',
       'Var160', 'Var161', 'Var162', 'Var163', 'Var164', 'Var165',
       'Var166', 'Var167', 'Var168', 'Var169', 'Var170', 'Var171',
       'Var172', 'Var173', 'Var174', 'Var175', 'Var176', 'Var177',
       'Var178', 'Var179', 'Var180', 'Var181', 'Var182', 'Var183',
       'Var184', 'Var185', 'Var186', 'Var187', 'Var188', 'Var189',
       'Var190', 'Var191', 'Var192', 'Var193', 'Var194', 'Var195',
       'Var196', 'Var197', 'Var198', 'Var199', 'Var200', 'Var201',
       'Var202', 'Var203', 'Var204', 'Var205', 'Var206', 'Var207',
       'Var208', 'Var209', 'Var210', 'Var211', 'Var212', 'Var213',
       'Var214', 'Var215', 'Var216', 'Var217', 'Var218', 'Var219',
       'Var220', 'Var221', 'Var222', 'Var223', 'Var224', 'Var225',
       'Var226', 'Var227', 'Var228', 'Var229', 'Var230'], dtype=object)

In [14]:
num_vall = np.array(all_vars[:190])
num_vall

array(['Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8',
       'Var9', 'Var10', 'Var11', 'Var12', 'Var13', 'Var14', 'Var15',
       'Var16', 'Var17', 'Var18', 'Var19', 'Var20', 'Var21', 'Var22',
       'Var23', 'Var24', 'Var25', 'Var26', 'Var27', 'Var28', 'Var29',
       'Var30', 'Var31', 'Var32', 'Var33', 'Var34', 'Var35', 'Var36',
       'Var37', 'Var38', 'Var39', 'Var40', 'Var41', 'Var42', 'Var43',
       'Var44', 'Var45', 'Var46', 'Var47', 'Var48', 'Var49', 'Var50',
       'Var51', 'Var52', 'Var53', 'Var54', 'Var55', 'Var56', 'Var57',
       'Var58', 'Var59', 'Var60', 'Var61', 'Var62', 'Var63', 'Var64',
       'Var65', 'Var66', 'Var67', 'Var68', 'Var69', 'Var70', 'Var71',
       'Var72', 'Var73', 'Var74', 'Var75', 'Var76', 'Var77', 'Var78',
       'Var79', 'Var80', 'Var81', 'Var82', 'Var83', 'Var84', 'Var85',
       'Var86', 'Var87', 'Var88', 'Var89', 'Var90', 'Var91', 'Var92',
       'Var93', 'Var94', 'Var95', 'Var96', 'Var97', 'Var98', 'Var99',
       'Var100', 'Var101', 'Var102', 'Var103', 'Var104', 'Var105',
       'Var106', 'Var107', 'Var108', 'Var109', 'Var110', 'Var111',
       'Var112', 'Var113', 'Var114', 'Var115', 'Var116', 'Var117',
       'Var118', 'Var119', 'Var120', 'Var121', 'Var122', 'Var123',
       'Var124', 'Var125', 'Var126', 'Var127', 'Var128', 'Var129',
       'Var130', 'Var131', 'Var132', 'Var133', 'Var134', 'Var135',
       'Var136', 'Var137', 'Var138', 'Var139', 'Var140', 'Var141',
       'Var142', 'Var143', 'Var144', 'Var145', 'Var146', 'Var147',
       'Var148', 'Var149', 'Var150', 'Var151', 'Var152', 'Var153',
       'Var154', 'Var155', 'Var156', 'Var157', 'Var158', 'Var159',
       'Var160', 'Var161', 'Var162', 'Var163', 'Var164', 'Var165',
       'Var166', 'Var167', 'Var168', 'Var169', 'Var170', 'Var171',
       'Var172', 'Var173', 'Var174', 'Var175', 'Var176', 'Var177',
       'Var178', 'Var179', 'Var180', 'Var181', 'Var182', 'Var183',
       'Var184', 'Var185', 'Var186', 'Var187', 'Var188', 'Var189',
       'Var190'], dtype=object)

In [16]:
cat_vars = np.array(all_vars[190:])
cat_vars

array(['Var191', 'Var192', 'Var193', 'Var194', 'Var195', 'Var196',
       'Var197', 'Var198', 'Var199', 'Var200', 'Var201', 'Var202',
       'Var203', 'Var204', 'Var205', 'Var206', 'Var207', 'Var208',
       'Var209', 'Var210', 'Var211', 'Var212', 'Var213', 'Var214',
       'Var215', 'Var216', 'Var217', 'Var218', 'Var219', 'Var220',
       'Var221', 'Var222', 'Var223', 'Var224', 'Var225', 'Var226',
       'Var227', 'Var228', 'Var229', 'Var230'], dtype=object)

In [17]:
# variaveis

In [18]:
treino.dtypes

Var1      float64
Var2      float64
Var3      float64
Var4      float64
Var5      float64
           ...
Var226     object
Var227     object
Var228     object
Var229     object
Var230    float64
Length: 230, dtype: object

In [21]:
var =treino.groupby('Var1').size()
var

Var1
0.0      380
8.0      138
16.0      81
24.0      46
32.0      23
40.0      10
48.0       6
56.0       5
64.0       1
72.0       3
80.0       1
120.0      1
128.0      2
152.0      1
360.0      1
392.0      1
536.0      1
680.0      1
dtype: int64

In [23]:
count_por_column = pd.DataFrame()
for col in  num_vall:
  col_counts = treino.groupby(col).size()
  count_por_column = count_por_column.append(col_counts, ignore_index=True)

In [24]:
count_por_column.shape

(190, 349155)

In [26]:
count_por_column.T.shape

(349155, 190)

In [31]:
count_por_column = count_por_column.T
count_por_column.index = count_por_column.index.astype('str')
count_por_column.sort_index(inplace=True)
print('primeira 10 Categorias: ',count_por_column.index[:10])
print('ultimas 10 categoreias: ',count_por_column.index[(len(count_por_column.index)-10):])

primeira 10 Categorias:  Index(['-10.0', '-1000060.0', '-10002.16', '-100034.8', '-1000420.0',
       '-1000468.0', '-1000496.0', '-1000516.0', '-1000548.0', '-1000648.0'],
      dtype='object')
ultimas 10 categoreias:  Index(['9999040.0', '999920.0', '9999240.0', '99993.0', '9999400.0',
       '9999440.0', '9999480.0', '99995.0', '99996.0', '999971.0'],
      dtype='object')