<a href="https://colab.research.google.com/github/maferrepy/BASEKNN/blob/main/reNATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [552]:
import pandas as pd

In [553]:
df_excel =pd.read_excel('/content/Balancete por Secretaria e consolidado 2023 e 2024 MARCOS.xls',sheet_name="Balancete por secretaria 2024")

In [554]:
df_excel.to_csv('/content/balancete.csv', index=False)

In [555]:
df =pd.read_csv("/content/balancete.csv")

In [556]:
df.rename(columns={'Unnamed: 0': 'CODIGO'}, inplace=True)
df.rename(columns={'Unnamed: 3': 'ATUALIZADO'}, inplace=True)
df.rename(columns={'DOTAÇÃO ': 'VALORES'}, inplace=True)
df.drop(df.columns[3:7], axis=1, inplace=True)

In [557]:
df.head()

,CODIGO,02 - SECRETARIA M. DE ADMINISTRAÇÃO,VALORES,Unnamed: 7
0,NaN,NaN,INICIAL,ANO
1,3.1.90.11.00.00.00.00,VENCIMENTOS E VANTAGENS FIXAS-PESSOAL CIVIL,"7.483.558,37","0,00"
2,3.1.90.13.00.00.00.00,CONTRIBUIÇÕES PATRONAIS,"383.321,64","0,00"
3,3.1.90.16.00.00.00.00,OUTRAS DESPESAS VARIÁVEIS-PESSOAL CIVIL,"19.479,28","0,00"
4,3.1.90.91.00.00.00.00,SENTENÇAS JUDICIAIS,"100.000,00","0,00"

In [558]:
df = df.drop(0)

In [559]:
# Substituir os valores faltantes (NaN) por None
df = df.where((pd.notnull(df)), None)

# Converter os valores faltantes (None) por um espaço vazio
df = df.fillna('')

In [560]:
df.head(25)

,CODIGO,02 - SECRETARIA M. DE ADMINISTRAÇÃO,VALORES,Unnamed: 7
1,3.1.90.11.00.00.00.00,VENCIMENTOS E VANTAGENS FIXAS-PESSOAL CIVIL,"7.483.558,37","0,00"
2,3.1.90.13.00.00.00.00,CONTRIBUIÇÕES PATRONAIS,"383.321,64","0,00"
3,3.1.90.16.00.00.00.00,OUTRAS DESPESAS VARIÁVEIS-PESSOAL CIVIL,"19.479,28","0,00"
4,3.1.90.91.00.00.00.00,SENTENÇAS JUDICIAIS,"100.000,00","0,00"
5,3.1.90.94.00.00.00.00,INDENIZAÇÕES E RESTITUIÇÕES TRABALHISTAS,"290.000,00","0,00"
6,3.1.91.13.00.00.00.00,CONTRIBUIÇÕES PATRONAIS,"2.681.165,31","0,00"
7,3.3.30.93.00.00.00.00,INDENIZAÇÕES E RESTITUIÇÕES,"12.000,00","0,00"
8,3.3.50.41.00.00.00.00,CONTRIBUIÇÕES,"500,00","0,00"
9,3.3.50.43.00.00.00.00,SUBVENÇÕES SOCIAIS,"500,00","0,00"
10,3.3.90.14.00.00.00.00,DIÁRIAS-CIVIL,"30.000,00","0,00"
11,3.3.90.30.00.00.00.00,MATERIAL DE CONSUMO,"355.000,00","0,00"
12,3.3.90.31.00.00.00.00,"PREMIAÇÕES CULTURAIS, ARTÍSTICAS, CIENTÍFICAS,...","1.000,00","0,00"
13,3.3.90.32.00.00.00.00,"MATERIAL, BEM OU SERVIÇO PARA DISTRIBUIÇÃO GRA...","10.000,00","0,00"
14,3.3.90.33.00.00.00.00,PASSAGENS E DESPESAS COM LOCOMOÇÃO,"30.000,00","0,00"
15,3.3.90.35.00.00.00.00,SERVIÇOS DE CONSULTORIA,"10.000,00","0,00"
16,3.3.90.36.00.00.00.00,OUTROS SERVIÇOS DE TERCEIROS-PESSOA FÍSICA,"775.202,24","0,00"
17,3.3.90.39.00.00.00.00,OUTROS SERVIÇOS DE TERCEIROS-PESSOA JURÍDICA,"2.147.075,00","0,00"
18,3.3.90.40.00.00.00.00,SERVIÇOS DE TECNOLOGIA DA INFORMAÇÃO E COMUNIC...,"1.500.250,00","0,00"
19,3.3.90.46.00.00.00.00,AUXÍLIO-ALIMENTAÇÃO,"634.695,87","0,00"
20,3.3.90.47.00.00.00.00,OBRIGAÇÕES TRIBUTÁRIAS E CONTRIBUTIVAS,"5.000,00","0,00"
21,3.3.90.49.00.00.00.00,AUXÍLIO-TRANSPORTE,"177.724,94","0,00"
22,3.3.90.92.00.00.00.00,DESPESAS DE EXERCÍCIOS ANTERIORES,"20.000,00","0,00"
23,3.3.90.93.00.00.00.00,INDENIZAÇÕES E RESTITUIÇÕES,"50.000,00","0,00"
24,3.3.91.97.00.00.00.00,APORTE PARA COBERTURA DO DÉFICIT ATUARIAL DO RPPS,"851.915,91","0,00"
25,4.4.90.52.00.00.00.00,EQUIPAMENTOS E MATERIAL PERMANENTE,"712.000,00","0,00"

In [561]:
print(df.isnull().sum())

CODIGO                                  0
02 - SECRETARIA M. DE ADMINISTRAÇÃO     0
VALORES                                 0
Unnamed: 7                              0
dtype: int64

In [562]:
print(df.columns)

Index(['CODIGO', '02 - SECRETARIA M. DE ADMINISTRAÇÃO ', 'VALORES',
       'Unnamed: 7'],
      dtype='object')

In [563]:
import pandas as pd

# Supondo que você já tenha um DataFrame chamado df
# Solicitar ao usuário que insira um código
codigo = input("Insira o código que deseja pesquisar: ")
# Verificar quantas vezes o código aparece na coluna 'CODIGO'
count = df['CODIGO'].value_counts()[codigo] if codigo in df['CODIGO'].value_counts().index else 0

# Imprimir o resultado
print(f"O código '{codigo}' aparece {count} vez(es) na coluna 'CODIGO'.")
# Filtrar a tabela para obter apenas as linhas com o código inserido
df_filtered = df[df['CODIGO'] == codigo]


# Verificar se o código não está vazio
if codigo == "":
    print("O código inserido está vazio. Não foi possível criar o novo DataFrame.")
else:
    # Filtrar a tabela para obter apenas as linhas com o código inserido
    df_filtered = df[df['CODIGO'] == codigo]

    # Verificar se o código ocorre pelo menos uma vez no DataFrame
    if not df_filtered.empty:
        # Criar um novo DataFrame com os códigos e os valores correspondentes da coluna 'INICIAL'
        novo_df = df_filtered[['CODIGO', 'VALORES']].copy()

        # Imprimir o novo DataFrame
        print("Novo DataFrame com os códigos e valores correspondentes:")
        print(novo_df)
    else:
        print(f"O código '{codigo}' não ocorre no DataFrame. Não foi possível criar o novo DataFrame.")

Insira o código que deseja pesquisar: 3.1.90.11.00.00.00.00
O código '3.1.90.11.00.00.00.00' aparece 25 vez(es) na coluna 'CODIGO'.
Novo DataFrame com os códigos e valores correspondentes:
                    CODIGO        VALORES
1    3.1.90.11.00.00.00.00   7.483.558,37
30   3.1.90.11.00.00.00.00     553.710,59
48   3.1.90.11.00.00.00.00   7.414.253,75
73   3.1.90.11.00.00.00.00   3.592.154,24
93   3.1.90.11.00.00.00.00     630.790,02
113  3.1.90.11.00.00.00.00   1.777.324,92
134  3.1.90.11.00.00.00.00   4.654.352,12
161  3.1.90.11.00.00.00.00   2.939.972,37
182  3.1.90.11.00.00.00.00   1.158.459,31
204  3.1.90.11.00.00.00.00   4.702.978,34
233  3.1.90.11.00.00.00.00  48.716.838,14
265  3.1.90.11.00.00.00.00  91.937.712,10
289  3.1.90.11.00.00.00.00   6.690.689,62
318  3.1.90.11.00.00.00.00   1.470.717,87
356  3.1.90.11.00.00.00.00   7.588.901,95
380  3.1.90.11.00.00.00.00   3.234.432,72
401  3.1.90.11.00.00.00.00   2.564.523,65
423  3.1.90.11.00.00.00.00   1.017.589,17
478  3.1.90.11.00.00.00.00   1.924.330,32
524  3.1.90.11.00.00.00.00   1.956.575,10
547  3.1.90.11.00.00.00.00   1.192.789,68
568  3.1.90.11.00.00.00.00     851.687,31
587  3.1.90.11.00.00.00.00     989.688,03
607  3.1.90.11.00.00.00.00     974.790,28
644  3.1.90.11.00.00.00.00   1.320.463,33

In [564]:
df =novo_df

In [565]:
# Função para formatar os números na coluna 'VALORES'
def formatar_numero(valor):
    # Converta para string, se já não for
    valor = str(valor)
    # Substitua vírgulas por pontos
    valor = valor.replace(',', '.')
    # Remova pontos
    valor = valor.replace('.', '')
    # Converta para float
    return float(valor)

# Aplique a função à coluna 'VALORES'
df['VALORES'] = df['VALORES'].apply(formatar_numero)

# Exiba o DataFrame resultante
print(df)

                    CODIGO       VALORES
1    3.1.90.11.00.00.00.00  7.483558e+08
30   3.1.90.11.00.00.00.00  5.537106e+07
48   3.1.90.11.00.00.00.00  7.414254e+08
73   3.1.90.11.00.00.00.00  3.592154e+08
93   3.1.90.11.00.00.00.00  6.307900e+07
113  3.1.90.11.00.00.00.00  1.777325e+08
134  3.1.90.11.00.00.00.00  4.654352e+08
161  3.1.90.11.00.00.00.00  2.939972e+08
182  3.1.90.11.00.00.00.00  1.158459e+08
204  3.1.90.11.00.00.00.00  4.702978e+08
233  3.1.90.11.00.00.00.00  4.871684e+09
265  3.1.90.11.00.00.00.00  9.193771e+09
289  3.1.90.11.00.00.00.00  6.690690e+08
318  3.1.90.11.00.00.00.00  1.470718e+08
356  3.1.90.11.00.00.00.00  7.588902e+08
380  3.1.90.11.00.00.00.00  3.234433e+08
401  3.1.90.11.00.00.00.00  2.564524e+08
423  3.1.90.11.00.00.00.00  1.017589e+08
478  3.1.90.11.00.00.00.00  1.924330e+08
524  3.1.90.11.00.00.00.00  1.956575e+08
547  3.1.90.11.00.00.00.00  1.192790e+08
568  3.1.90.11.00.00.00.00  8.516873e+07
587  3.1.90.11.00.00.00.00  9.896880e+07
607  3.1.90.11.00.00.00.00  9.747903e+07
644  3.1.90.11.00.00.00.00  1.320463e+08

In [566]:
soma_valores = novo_df['VALORES'].sum()
print("A soma dos valores na coluna 'valores' é:", soma_valores)

A soma dos valores na coluna 'valores' é: 20733928330.0

In [567]:
soma_valores

20733928330.0

In [568]:
# Converta para string e remova o ponto decimal
valor_formatado = str(int(soma_valores))

# Remova o último zero, se existir
valor_formatado = valor_formatado.rstrip('0')

# Exiba o resultado
print(valor_formatado)

2073392833

In [569]:
import locale

# Configurar a formatação de moeda para o inglês dos Estados Unidos (USD)
locale.setlocale(locale.LC_MONETARY, 'en_US.UTF-8')

# Restante do seu código...

'en_US.UTF-8'

In [570]:
# Suponha que você tenha o valor em uma variável chamada soma_valores
soma_valores = valor_formatado

In [571]:
print(valor_formatado)

2073392833

In [572]:
from babel.numbers import format_currency

# Exibindo a soma dos valores em formato de moeda sem depender da localidade
formatted_currency = format_currency(valor_formatado, 'BRL', locale='pt_BR')
print(f'A soma dos valores é: {formatted_currency}')

A soma dos valores é: R$ 2.073.392.833,00

In [573]:
from babel.numbers import format_currency
import locale



# Exibindo a soma dos valores em formato de moeda
formatted_currency = format_currency(valor_formatado, 'BRL', locale=locale_str)
print(f'A soma dos valores é: {formatted_currency}')

A soma dos valores é: R$ 2.073.392.833,00